body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}
p {
    color: rgb(255, 183, 0);
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
}

ol{
    color: rgb(255, 183, 0);
}



a{
    color: aqua;
}

.contacto{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.volver{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.medacpagina{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
  
  